
.titulo-usuario {

  margin-left: 23%;
  color: white;

}
.titulo-prestamo {
  margin-left: 17%;

}

.titulo-cliente {
  margin:0 auto;
}
.sidebar-mini-hide{
  color: white;
}
.content-tabla{
  border-radius: 9px;
}

.botones{
  text-align: center;
  margin-left:9px;
}

.td {
  width: 28%;
}

.modal-global {
  border-radius: 5px;
}
.bg-gray-lighter {
  background: linear-gradient(to bottom, rgba(229, 238, 255) 0%, rgba(229, 238, 255) 100%);
}
#main-container {
  background:  rgba(229, 238, 255);
}

#header-navbar{
  background: #2c343f;
}

.group-ip {
  background: #fff;
}

#registroUsuario {
  font-size: 15px;
  font-weight:bold;
}
.pagination li{
  color: white;
  background: blue;
}

.panel-primary > .panel-heading{
  background: white;
}
.titilo-modal-usuario {
  margin: 0;
  line-height: 1.42857143;
  font-weight: normal;
  font-size: 20px;
  font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  color: #646464;
}

/*Estilos para la tabla de la vista consultar prestamos*/

.tabla-prestamos thead > tr > th {
  color: #fff;
  background-color: #253c5a;
  border-bottom-color: #5c90d2
}

#tbl-prestamo-abierto {
  display: none;
}
.modal-global {
  border-radius: 5px;
  width: 100%;
  padding: 0;
}

.modal-global h4 {
  color:white;
}

.btn_eyed {
  font-size: 20px;
}

.btn-regresar{
  background: #253c5a;
  border-color: #666d77;
  font-weight: bold;
}

.btn-regresar:hover{
  background: #183d6d;
}

.nomb_cl_abn {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tbl_usuario thead > tr > th {
  color: #fff;
  background-color: #253c5a;
  border-bottom-color: #5c90d2
}

.acc_usuario {
  width: 20%;
  text-align: center;
}

.des {
  display: none;
}

.alert-danger {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: bold;

}

#edit_Prestamo {
  margin-left: 50%;
}

.centrar_modal {
  margin: 0 auto; 
  margin-top: 35px;
}

.centr_mod_prox_cuota {
  margin: 0 auto; 
  margin-top: 15%;
}

.letra_x {
      color: #fff !important;
}

#d {
     color: #fff !important;
     
}

#d:hover {
     color: #fff !important;

}

